/* =================
Base Element Styles
======================== */

*{
    box-sizing: border-box;
}

.p {
    text-align: center;
}


/* flex box */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.row {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.main-header,
.p {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.name {
    display: flex;
}

/* styles */

body{
    color: purple;
}

.main-header {
    color: purple;
    background-color: #3a3a3a;
}


/* ================
Base Layout Styles
====================== */

/* Layout Containers */
.name {
    font-size: 5em;
    text-align: center;
}

.primary {
    margin: auto;
    text-align: center;
}

.secondary {
    margin: auto;
    text-align: center;
}

.main-footer {
    margin: auto;
    text-align: center;
}

/* Javascript Carousel */

#slides{
	position: relative;
	height: 150px;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.slide{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: 1;

	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.showing{
	opacity: 1;
	z-index: 2;
}






/* ================
 Media Queries 
 =======================*/
@media (min-width: 769px) {
    p {
        font-size: 1.2rem;
    }
}

@media (min-width: 1025px) {

}